{% extends 'auth/base.html' %}


{% block pageTitle %}
{% block formSubtitle %}
Password Change
{% endblock %}
{% endblock %}


{% block buttonText %}
Change Password
{% endblock %}

{% block form %}
<div class="form-group mt-2">
  <input type="password" name="newPassword" id="newPassword" class="form-control my-input shadow-none"
    placeholder="New Password *" required>
</div>
{% endblock %}

{% block afterBodyScript %}
document.getElementById('hint').style.display = 'none';
document.getElementById('nameWrapper').remove()
{% endblock %}